<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>回答編集画面</title>
    </head>

    <body>
        <h1>回答編集画面</h1>
        <form th:action="@{/doUpdate}" method="post" th:object="${updateAnswerModel}">
            <th:block th:each="uA : ${updateAnswer}">
                <input type="hidden" name="answer_id" th:value="${uA.getAnswer_id}">
                <div class="question1">
                    <p>好きな肉は？</p>
                    <th:block th:each="meatList : ${meatList}">
                        <label>
                            <input type="radio" id="meat_id + ${meatList.getMeatId}" name="meat_id" th:value="${meatList.getMeatId}" th:text="${meatList.getName}" th:checked="${#lists.contains(uA.getMeat_id, meatList.getMeatId)}">
                        </label>
                    </th:block>
                </div>
                <div style="color:red" th:if="${#fields.hasErrors('meat_id')}" th:errors="*{meat_id}"></div>

                <div class="question2">
                    <p>好きな野菜は？(複数回答可)</p>
                    <th:block th:each="vegetableList : ${vegetableList}">
                        <label>
                            <input type="checkbox" id="vegetable_id + ${vegetableList.getVegetableId}" name="vegetable_id" th:value="${vegetableList.getVegetableId}" th:text="${vegetableList.getName}" th:checked="${#lists.contains(updateVegetableAnswer, vegetableList.getVegetableId)}">
                        </label>
                    </th:block>
                </div>
                <div style="color:red" th:if="${#fields.hasErrors('vegetable_id')}" th:errors="*{vegetable_id}"></div>

                <div class="question3">
                    <p>好きなアイドルは？</p>
                    <input type="text" name="idol_name" th:value="${uA.idol_name}">
                </div>
                <div style="color:red" th:if="${#fields.hasErrors('idol_name')}" th:errors="*{idol_name}"></div>
            </th:block>
            <button type="button" onclick="history.back()">回答一覧に戻る</button>
            <input type="submit" name="doUpdate" value="回答編集">
        </form>
    </body>
</html>