<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>回答閲覧画面</title>
    </head>

    <body>
        <h1>回答一覧</h1>
        <table>
            <tr>
                <th>回答番号</th>
                <th>好きな肉</th>
                <th>好きな野菜</th>
                <th>好きなアイドル</th>
            </tr>
            <tr th:each="answer:${answers}">
                <td th:text="${answer.answer_id}"></td>
                <th:block th:each="meatList : ${meatList}">
                    <p th:if="${meatList.getMeatId == answer.meat_id}">
                        <td th:text="${meatList.getName}"></td>
                    </p>
                </th:block>
                <th:block th:each="vVA : ${viewVegetableAnswers}">
                    <th:block th:each="vL : ${vegetableList}">
                        <p th:if="${answer.answer_id == vVA.answer_id && vVA.vegetable_id == vL.getVegetableId}">
                            <td th:text="${vL.getName}"></td>
                        </p>
                    </th:block>
                </th:block>
                <!--<th:block th:each="vVA : ${viewVegetableAnswers}">
                    <p th:if="${answer.answer_id == vVA.answer_id}">
                        <th:block th:each="vL : ${vegetableList}">
                            <span th:if="${vVA.vegetable_id == vL.getVegetableId}">
                                <td th:text="${vL.getName}"></td>
                            </span>
                        </th:block>
                    </p>
                </th:block>-->
                <td th:text="${answer.idol_name}"></td>
            </tr>
        </table>

        <ul class="paging">
            <li>
                <span th:if="${pages.first}">&lt;&lt;</span>
                <a th:if="${not pages.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
            </li>

            <li th:each="i:${#numbers.sequence(0, pages.totalPages-1)}">
                <span th:if="${i}==${pages.number}" th:text="${i+1}"></span>
                <a th:if="${i}!=${pages.number}" th:href="@{${url}(page=${i})}">
                    <span th:text="${i+1}"></span>
                </a>
            </li>

            <li>
                <span th:if="${pages.last}">&gt;&gt;</span>
                <a th:if="${not pages.last}" th:href="@{${url}(page=(${pages.totalPages-1}))}">
                    &gt;&gt;
                </a>
            </li>
        </ul>

        <form th:action="@{/logout}" method="post">
            <input type="submit" name="logout" value="ログアウト">
        </form>
    </body>
</html>